.big-box {
  width: 600px;
  background: white;
  padding: 15px 35px;
  margin-bottom: 10px;
  border-radius: 18px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
}

.temp {
  font-size: 55px;
  margin: 0;
  color: #6b4ce6;
}

.location {
  margin: 5px 0;
  font-size: 18px;
  color: #444;
}

.date {
  margin: 0;
  color: #777;
}

.big-icon {
  font-size: 60px;
  color: #6b4ce6;
}
