.home-container {
  width: 100%;
  height: 82vh;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background: #f5f4ff; /* light purple background */
}

.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-column {
  width: 70%;
  height: 84vh;
}

.small-grid{
  height: 14rem;
}

.forecast-row {
  display: flex;
  width: 92vw;
  justify-content: space-around;
  margin-top: 2rem;
}
