.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #6b4ce6; /* purple */
  padding: 15px 25px;
  color: white;
  font-family: sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  width: 50vw;
  height: 2rem;
  font-size: 20px;
  font-weight: 600;
}

.search {
  margin: 5px;
  padding: 5px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
}

.input {
  background-color: transparent;
  border: none;
  color: white;
}

input:focus{
  outline: none;
  border: none;
  color: white;
}

.input::placeholder{
  color: white;
}
