.weather-card {
  width: 280px;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.weather-left h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.weather-left p {
  margin: 5px 0 0;
  font-size: 22px;
  font-weight: 600;
  color: #6b4ce6; /* purple */
}

.weather-right {
  font-size: 30px;
  color: #6b4ce6;
}
